07-bpel/webapps/ode/WEB-INF/processes/WS7_HW/HIProcess.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
   xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
   xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
   xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" 
   xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
   xmlns:tns="http://id/wsdl"
   xmlns:tnsxsd="http://id/xsd"
   xmlns:tnsx="http://ws"
   xmlns:tnsy="http://ws2"
   targetNamespace="http://id/wsdl">
   
  <wsdl:import location="calculator.wsdl"
    namespace="http://ws/" />
  <wsdl:import location="idPayment.wsdl"
    namespace="http://ws2/" />

  <wsdl:types>
		<xsd:schema targetNamespace="http://id/xsd">
      <xsd:element name="idOrderInput">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="idOrderId" type="xsd:string"/>
            <xsd:element minOccurs="1" maxOccurs="1" name="idOrderAllowance" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
			<xsd:element name="idOrderOutput" type="xsd:string"/>
		</xsd:schema>
	</wsdl:types>

  <wsdl:message name="IdOrderInputMessage">
		<wsdl:part name="params" element="tnsxsd:idOrderInput"/>
    <wsdl:part name="idParam" element="tnsxsd:idOrderId"/>
    <wsdl:part name="allowanceParam" element="tnsxsd:idOrderAllowance"/>
	</wsdl:message>
	<wsdl:message name="IdOrderOutputMessage">
		<wsdl:part name="params" element="tnsxsd:idOrderOutput"/>
	</wsdl:message>

  <wsdl:portType name="IdOrderPortType">
    <wsdl:operation name="payWithIdOperation">
      <wsdl:input name="IdOrderInput" message="tnsxsd:idOrderInput"/>
			<wsdl:output name="IdOrderOutput" message="tns:idOrderOutput"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="CalculatorCallbackPortType">
    <wsdl:operation name="subtractOperation">
      <wsdl:input name="CalculatorInput" message="tnsx:subtractResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="IdPaymentCallbackPortType">
    <wsdl:operation name="getAllowanceForIdOperation">
      <wsdl:input name="getAllowanceForIdInput" message="tnsy:getAllowanceForIdResponse"/>
    </wsdl:operation>
    <wsdl:operation name="setAllowanceForIdOperation">
      <wsdl:input name="setAllowanceForIdInput" message="tnsy:setAllowanceForIdResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="IdOrderSOAPBinding" type="tns:IdOrderPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="payWithIdOperation">
			<soap:operation soapAction="urn:payWithIdOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
  <wsdl:binding name="CalculatorSOAPBinding" type="tns:CalculatorCallbackPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="subtractOperation">
			<soap:operation soapAction="urn:subtractOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
  <wsdl:binding name="IdPaymentSOAPBinding" type="tns:IdPaymentCallbackPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="getAllowanceForIdOperation">
			<soap:operation soapAction="urn:getAllowanceForIdOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
    <wsdl:operation name="setAllowanceForIdOperation">
			<soap:operation soapAction="urn:setAllowanceForIdOperation" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

  <wsdl:service name="IdOrderService">
		<wsdl:port name="IdOrderPort" binding="tns:IdOrderSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/IdOrder"/>
		</wsdl:port>
    <wsdl:port name="CalculatorPort" binding="tns:CalculatorSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/Calculator"/>
		</wsdl:port>
    <wsdl:port name="IdPaymentPort" binding="tns:IdPaymentSOAPBinding">
			<soap:address location="http://localhost:8080/ode/processes/IdPayment"/>
		</wsdl:port>
	</wsdl:service>

  <plnk:partnerLinkType name="IdOrderLinkType">
	  <plnk:role name="IdOrderServiceRole" portType="tns:IdOrderPortType" />
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="CalculatorLinkType">
		<plnk:role name="CalculatorServiceRole" portType="tnsx:CalculatorPortType"/>
		<plnk:role name="CalculatorClientRole" portType="tns:CalculatorCallbackPortType"/>
	</plnk:partnerLinkType>
	<plnk:partnerLinkType name="IdPaymentLinkType">
	  <plnk:role name="IdPaymentServiceRole" portType="tnsy:IdPaymentPortType" />
	  <plnk:role name="IdPaymentClientRole" portType="tns:IdPaymentCallbackPortType" />
	</plnk:partnerLinkType>

</wsdl:definitions>
