03-wsdl/ws2_wsdl.xml

<?xml version="1.0" encoding="utf-8" ?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
    xmlns:tns="http://ws2/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
    targetNamespace="http://ws2/">
    <documentation></documentation>
    <!-- types (0,1) -->
    <types>
        <xs:schema targetNamespace="http://ws2/">
            <xs:element name="payWithId">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="arg0" type="xs:string"/>
                        <xs:element minOccurs="1" maxOccurs="1" name="arg1" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="payWithIdResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="1" maxOccurs="1" name="return" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </types>
    <!-- messages (0,*) -->
    <message name="payWithId">
        <part element="tns:payWithId" name="payWithIdParams"/>
    </message>
    <message name="payWithIdResponse">
        <part element="tns:payWithIdResponse" name="payWithIdResponseParams"/>
    </message>
    <!-- port types (0,*) -->
    <portType name="IdPaymentPortType">
        <operation name="payWithId">
            <input message="tns:payWithId"/>
            <output message="tns:payWithIdResponse"/>
        </operation>
    </portType>
    <!-- bindings (0,*) -->
    <binding name="IdPaymentBinding" type="tns:IdPaymentPortType">
        <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="payWithId">
            <input>
                <wsdlsoap:body use="literal"/>
            </input>
            <output>
                <wsdlsoap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <!-- services (0,*) -->
    <service name="IdPaymentService">
        <port binding="tns:IdPaymentBinding" name="IdPaymentPort">
            <wsdlsoap:address location="http://127.0.0.1:8000/IdPayment"/>
        </port>
    </service>
</definitions>